.recipe-name{
    padding: 8px;
    white-space: nowrap;
}
.button-space{
    margin-left: 10px;
  }
  .container{
    padding: 33px;
}
.button-container{
    display: flex;
}
.img-size{
    width: 350px;
    height: 350px;
    object-fit: contain;
}